@media screen and (min-width: 764px) and (max-width:1024px) {
  *{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  header{
    position: fixed;
    width: 100%;
    height: 2.2cm;
    z-index: 20;
    background-color: #ffffff;

    ul{
        display: none;
        z-index: 4;
        position: absolute;
        left: 38vw;
        text-align: center;
        align-items: center;
        justify-content: center;
        top: -15rem;
        padding-bottom: 12.5cm;

         li{
            margin: 17px;
             
            a{
              font-size: 19px;
              padding: 6px;
              color: #1d1a1a;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            .active {
              color: white;
              background-color: #04AA6D;
              border: opx solid;
              border-width: 20px;
              padding-right: 25px;
              border-radius: 5px;
              padding-left: 25px;
              text-decoration: none;
              
              } 
            }
        }
    }
    
.logo{
    position: fixed;
    top: 1.4rem;
    left: 2.4rem;
    width: 4.7cm;
    height: 1.7cm;
    z-index: 30;
}
    
     
.header{
    position :absolute;
    top: 8.2rem;
    // transform: translateY(-150rem);
    width: 100%;
    height: 0rem;
    background-color: #1ed661;
    z-index: 4;
    transition : 0.6s;
    }

   

      
    .versionAng{
        margin-left: 3rem;
        font-size: 19px;
        color: rgb(64, 56, 56);
        }
    
    
      .imgAng{
      position: relative;
      left :0rem;
      top:0rem;
      width:30px;
      border-radius: 40%;
      height: 30px;
    
      .fenetreFrancais{
        position: relative;
        float: right;
        z-index: 4;
        display: none;
        transform: translateY(-4.5cm);
       
        }
    
       
    
            p{
                cursor: pointer;
                @include p(20px, 7rem, 2rem);
                }
    
    }
    
        .show{
          transform: translateY(0);
          transition: 0.14s;
        }
    
        
        #ang{
          cursor: pointer;
        }
    
.logoBurger i{
    font-size: 26px;
    position: relative;
    float: right; 
    //  right: -29rem;
    justify-content: space-between;
    top:2.2rem;
    border-radius: 20%;
    padding: 6px;
    margin-right: 3rem;
    border: 1.5px solid black;
    z-index: -4;
    color:black;

      &:hover{
        border: 0px solid #1ed661;
        background-color: #1ed640;
      }
      
}
    
     
.hideshow{
    // transform: translateY(-0.2rem);
    transition: 0.4s;
    height: 35rem;
}

.hideshow2{
    display: block;
    position: absolute;
    top: 1rem;
  
}

.container{
    display: none;
    }
    
    .container_responsive{
      width: 100%;
    height: 51rem;
    position: absolute;
    top: 3.5rem;
    left:0rem;
    display: inline-block;
    }
    
    
#inner{
      width: 100%;
    height: 51rem; 

    button{
      padding-left: 12.5px;
      padding-right: 12.5px;
      padding-top: 14px;
      padding-bottom: 14px;
      background-color: $color-1;
      font-size: 23px;
      color: white;
      border: 0;
      border-radius: 9px;
      position: absolute;
      top: -12rem;
      left: 19.4vw;
      transform: translate(27%, 50%);
      box-shadow: -4px 4px 18px rgb(0, 0, 0);;
}

h1{
  position :absolute;
  top: -23rem;
  left: -9vw;
  font-size: 37.3px;
  width: 80vw;
  font-family:'yeseva_oneregular';
}

h3{
     color: $color-4;
     position: absolute;
     top: -27rem;
     font-weight: 1000;
     left: 17vw;
     font-size: 27.3px;
     font-family: 'coneria_script_demoregular';
   
}
    }
    
    #inner img{
      width: 100%;
    height:51rem;
    position: relative;
    top: 0rem;
    left: 0rem;
    }
    
    #Carousel{
      width: 100%;
    height:51rem;
    position: relative;
    left: 0rem;
    top: 2.5rem;
    }

#lemurs{
font-size: 21px;
position: absolute;
left: 0;
top: -10rem;
}
   
.baobab{
font-size: 21px;
position: absolute;
left: 0;
top: -10rem;

}


#cameleon{
font-size: 21px;
position: absolute;
left: 2.5rem; 
top: -10rem;
}

#tsingy{
font-size: 21px;
position: absolute;
left: 1rem; 
top: -10rem;
}



.about {
    position: absolute;
    top: 58.9rem;
    width: 100%;
    height: 97rem;

        h1{
            font-size: 34.5px;
            position: absolute;
            left: 23.5vw;
            width :50vw;
            top: 6rem;             
          }

          .title_about{
            position: absolute;
            color:rgb(209, 118, 6) ;
            top: 2.4rem;
            left: 42vw;
           font-size: 24px;
           font-family: 'coneria_script_demoregular';
          
        }
        img{
            @include div_img(55vw, 10.6cm, 20vw, 46rem);
            margin-top: 5rem;
          }
        }
      
.about_container{
    width: 100%;
    position: absolute;

         span{
            font-size: 19px;
            position: absolute;
            width: 90%;
            top: -4rem;
            left: 12vw;
          }

         
}
    
    
.border{
    position: absolute;
    left: 39.2vw;
    top: 7.9rem;
    height: 5.2px;
    width: 1.4cm;
}
     

.choice {
  @include div(100%, 190vh, 0, 161rem, #ffffff);

  h3{
    color: $color-4;
    font-family: 'coneria_script_demoregular';
    @include h(24.5px, 0, 30vw, 1000, 40.5vw);
  
}
  }

  .choice h1{
   top: 4rem;
   width: 80vw;
  font-family:'yeseva_oneregular';
  @include h1(30px, 600, 8.5vw);
  color:rgba(0, 0, 0, 0.829);
  width: 85vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  }

  .images_choice{
    position: absolute;
    display: flex;
    top: 19rem;
    left: -0vw;

       img{
           width: 41vw;
           box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.684);
           margin-left: 5rem;
           height: 40rem;
           border-radius: 6px;
               
             &:nth-last-child(2){
                position:relative;
                top: 2rem;
              
             }
       }
}

.reason{
     position:relative ;
     top: 56rem;
     left: 15vw;
   width: 50vw;
   display: block;
          h1{
                font-family: Georgia, 'Times New Roman', Times, serif;
               width: 50vw;
               margin-top: 5rem;
               color:rgba(0, 0, 0, 0.647);
               @include h1(28px, bolder, 23);
              }
      .item{
          position: absolute;
          top: 7rem;

            div{
                background-color: $color-4;
                margin-top: 10.5rem;
                width: 29px;
                border-radius: 50%;
                height: 29px;
                margin-left: 8vw;
                

                   h1{
                      font-size: 23px;
                      position: relative;
                      left: -2vw;
                      top: 0rem;
                      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                   }

                   p{
                    width: 55vw;
                   
                       @include p(16px,13.2vw , 12rem );
                   }

                   .p_item_1{
                       position: absolute;
                       top: 14rem;
                   }

                   .p_item_2{
                    position: absolute;
                    top: 27.7rem;
                }
            
            }

            // .item_1{
            //    background-image: url(./../p);
            // }
          }
}
 

  
     
  



   
.sites{
width:90vw;
height:190rem;
position: absolute;
top: 265rem;
background-color: #ffffff;
text-align: center;
justify-content: center;
align-items: center;

  h3{
    color: $color-4;
    width: 50vw;
    font-weight: bolder;
    font-family: 'coneria_script_demoregular';
    @include h1(27.3px, 0, 25vw);
  }

   h1 center{ 
    top: 7rem;
    color: rgb(48, 46, 46);
    font-family:'yeseva_oneregular';
    @include h1(32px, 0,4.7vw );
    width: 90vw;
   }

   #sites_item1{
    
    display: flex;
    position: absolute;
    top: 0rem;
    left: 0.1vw;
width: 100%;
height: 70rem;
           
      div{
        height:35rem;
        width: 36vw;
        background-color: rgb(255, 255, 255);
        margin-left:7.5rem;
        border-radius: 9px;
      box-shadow: 3px 3px 15px rgba(114, 111, 111, 0.878);
   }

   img{
    height:17.9rem;
    width: 36vw;
    border-radius: 9px;
   }

  
     .contain1{
      background-size: cover;
     position: relative;
     left: 45vw;
        h1{
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          text-align: center;
           color: #000;
          @include h(17px, 18rem, -4.6vw, 600, 45vw);
        }

       p{
       @include p_left(2vw, 22.4rem, 18px);
       width: 32vw;
       color: #000;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }

       button{
        @include button($color-3, 4px, 12vw, 30rem, 19px);
     border-radius: 6px;
     border: 0 solid;
 
       }

              &:hover{
                 box-shadow: 5px 8px 35px black;
              }
     }

     .contain2{
        background-size: 100%;
      margin-left: 55vw;
       
        h1{
          color: #000;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          text-align: center;
          @include h(19px, 35.6rem, 49.5vw, 600, 45vw);
     }

     p{
      color: #000;
      @include p_left(56.5vw,40.1rem, 19px);
      width: 32vw;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }

   button{
    @include button($color-3, 4px, 67.4vw, 48.3rem, 19px);
 border-radius: 6px;
 border: 0 solid;

   }
   &:hover{
    box-shadow: 5px 8px 35px black;
 }



       }

  .c3{
    height: 17.9rem;
    width: 36vw;
    border-radius: 9px;  
  }

     .contain3{
      background-size: cover;
       position: relative;
       top: 40rem;
       left: -91vw;
      h1{
        color: #000;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       text-align: center;
       @include h(19px, 18.7rem, -15vw, 600, 65vw); text-align: center;
       justify-content: center;
       align-items: center;
     }

    p{
      color: #000;
      @include p_left(1.5vw, 23.8rem, 18px);
      width: 32vw;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     }

     button{
      @include button($color-3, 4px, 13vw,30.5rem, 19px);
   border-radius: 6px;
   border: 0 solid;
   text-align: center;
   justify-content: center;
   align-items: center;

     }
     &:hover{
      box-shadow: 5px 8px 35px black;
   }

        }
     }

     #sites_item2{
      display: flex;
      position: absolute;
      top: 57.7rem;
      left: 29vw;
     

      div{
        height:35rem;
        width: 36vw;
        background-color: rgb(255, 255, 255);
        margin-left:4rem;
        border-radius: 9px;
      box-shadow: 3px 3px 15px rgba(114, 111, 111, 0.878);

      }

      .contain_4{
       background-size: cover;
       margin-left: 25.5vw;

       img{
        height:19.5rem;
        width: 36vw;
          border-radius: 9px;
       }

       h1{
        color: #000;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        @include h(19px, 19rem, 21vw, 600, 45vw);
        }

        p{
          color: #000;
           @include p_left(27vw, 24.2rem, 18px);
           width: 33vw;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
           }

          button{
            @include button($color-3, 4px, 39vw, 30.1rem, 19px);
           border-radius: 6px;
           border: 0 solid;
           }

           &:hover{
            box-shadow: 5px 8px 35px black;
         }
        
              
    
  }
     }

   }

   .guestBOOK{
    position: absolute;
    top: 370rem;
    width: 100%;
    height: 30rem;
    

     h3{
   color: $color-4;
   width: 30vw;
   font-weight: bolder;
   font-family: 'coneria_script_demoregular';
   @include h1(23.6px, 0, 37vw);
 }

  h1{ 
   top: 5rem;
   color: rgb(48, 46, 46);
   font-family:'yeseva_oneregular';
   @include h1(32.5px, -2rem,8vw );
   width: 86vw;
  }

  .container_avis{
          position: absolute;
          top: 19rem;
          left: 4vw;
          width: 93%;
          height: 26rem;
          border-radius: 6px;
          box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.754);

          #inner{
           width: 100%;
           position: absolute;
           top: 0rem;
           height: 26rem;

           h1{
               font-size: 17px;
               color: rgb(44, 143, 4);
                font-size: 34px;
                margin-left: -5vw;
                margin-top: -2rem;
                font-family: 'coneria_script_demoregular';
                font-weight: 800;
                
            }

            h3{
                  font-size: 16px;
                  width: 80vw;
                  margin-left: -30vw;
                  margin-top: 7.4rem;
                  font-weight: -1000;
                  color: #302f2fd9;
                   font-family:Verdana, Geneva, Tahoma, sans-serif;
            }

        
       }
       
       #contain{
             width: 30rem;
             height: 35rem;
             position: absolute;
             top: 45rem;
                  
            
           
       }
       
       .back{
           width: 101%;
           height: 35rem;
           background-color: rgb(229, 225, 225);
           border-radius: 6px;
           box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.754);
       }

     
  }
  #prev{
     position: relative;
     top: 17rem;
     left: 2vw;
  }

   #next{
       position: relative;
       top: 17rem;
       right: -67vw;
       
   }
  
   .parallax{
           width: 100%;
           height: 55rem;
           background-image: url(./../pictures/parallax.jpg);
   }
  }

  
  #footer{
    position: relative;
    top: 70rem;
    background-color: rgba(0, 0, 0, 0.705);
    width :100%;
    height: 34.4rem;
    
  }
  
  .footer_contact{
    
     position: absolute;
     top: 7rem;
     left: 40%;

     h1{
        font-size: 30px;
        color: #ffffff;
        position: absolute;
        top: -3rem;
        left: -19.5vw;
        width: 55vw;
      }
  }
  
  
  .mail{
    font-size: 20px;
    position: absolute;
    top: 5rem;
    left :-38vw;
    color: #ffffff;
    width: 90vw;
  }
  
  .phone{
    font-size: 20px;
    position: absolute;
    top: 8rem;
    width: 90vw;
    left :-38vw;
    color: #ffffff;
  }
  
  .footer_contact p:nth-last-child(3){
    font-size: 19px;
    position: absolute;
    top: 11.1rem;
    left :-38vw;
    width: 91vw;
    color: #ffffff;
  }
  
  
  div.icones img:nth-last-child(1){
   position: absolute;
   top:20rem;
   left: 0rem;
  }
  
  .img_fb{
    position: absolute;
    top:0rem;
    left: 7rem;
   }
  
   div.icones img:nth-last-child(3){
    position: absolute;
    top:20rem;
    left: 14rem;
    
   }
   
   .icones{
    position: relative;
    top: 0rem;
    left: -0vw;
   }
  
   .border_{
    position: absolute;
    top: 17rem;
    left: 3.4vw;
    width: 2.6cm;
    height: 4px;
    background-color: #ffffff;
   }
  
   .footCopright center{
    position: absolute;
    top: 34.4rem;
    width: 100%;
    height: 1.6cm;
    background-color: rgba(40, 37, 37, 0.921);
    font-size: 20px;
    padding-top: 1.5rem;
    color: rgb(212, 205, 205);
   }
   .up img{
    width: 52px;
    height: 52px;
    position: fixed;
    top: 170rem;
    right: 7vw;
    z-index: 20;

      :hover{
        width: 35px;
        height: 35px;
      }
  }
}