
*{
   color: #e7e7e7;
}

@media screen and (min-width: 280px) and (max-width: 763px) {
    header{
        position: fixed;
        width: 100%;
        height: 2.2cm;
        z-index: 20;
        background-color: #ffffff;

        ul{
            display: none;
            z-index: 4;
            position: absolute;
            left: 15vw;
            text-align: center;
            align-items: center;
            justify-content: center;
            top: -15rem;
            padding-bottom: 12.5cm;

             li{
                margin: 17px;
                 
                a{
                  font-size: 19px;
                  padding: 6px;
                  color: #1d1a1a;
                  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }

                .active {
                  color: white;
                  background-color: #04AA6D;
                  border: opx solid;
                  border-width: 20px;
                  padding-right: 25px;
                  border-radius: 5px;
                  padding-left: 25px;
                  text-decoration: none;
                  
                  } 
                }
            }
        }
        
    .logo{
        position: fixed;
        top: 1.4rem;
        left: 2.4rem;
        width: 3.2cm;
        height: 1.5cm;
        z-index: 30;
    }
        
         
    .header{
        position :absolute;
        top: 8.2rem;
        // transform: translateY(-150rem);
        width: 100%;
        height: 0rem;
        background-color: #1ed661;
        z-index: 4;
        transition : 0.6s;
        }

       
    
          
        .versionAng{
            margin-left: 3rem;
            font-size: 19px;
            color: rgb(64, 56, 56);
            }
        
        
          .imgAng{
          position: relative;
          left :0rem;
          top:0rem;
          width:30px;
          border-radius: 40%;
          height: 30px;
        
          .fenetreFrancais{
            position: relative;
            float: right;
            z-index: 4;
            display: none;
            transform: translateY(-4.5cm);
           
            }
        
           
        
                p{
                    cursor: pointer;
                    @include p(20px, 7rem, 2rem);
                    }
        
        }
        
            .show{
              transform: translateY(0);
              transition: 0.14s;
            }
        
            
            #ang{
              cursor: pointer;
            }
        
    .logoBurger i{
        font-size: 26px;
        position: relative;
        float: right; 
        //  right: -29rem;
        justify-content: space-between;
        top:2.2rem;
        border-radius: 20%;
        padding: 6px;
        margin-right: 3rem;
        border: 1.5px solid black;
        z-index: -4;
        color:black;

          &:hover{
            border: 0px solid #1ed661;
            background-color: #1ed640;
          }
          
    }
        
         
    .hideshow{
        // transform: translateY(-0.2rem);
        transition: 0.4s;
        height: 35rem;
    }

    .hideshow2{
        display: block;
        position: absolute;
        top: 1rem;
      
    }

    .container{
        display: none;
        }
        
        .container_responsive{
          width: 100%;
        height: 51rem;
        position: absolute;
        top: 3.5rem;
        left:0rem;
        display: inline-block;
        }
        
        
    #inner{
          width: 100%;
        height: 51rem; 

        button{
          padding-left: 12.5px;
          padding-right: 12.5px;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: $color-1;
          font-size: 18px;
          color: white;
          border: 0;
          border-radius: 9px;
          position: absolute;
          top: -9rem;
          left: 13.8vw;
          transform: translate(27%, 50%);
          box-shadow: -4px 4px 18px rgb(0, 0, 0);;
    }

    h1{
      position :absolute;
      top: -21rem;
      left: -5vw;
      font-size: 27.3px;
      width: 80vw;
      font-family:'yeseva_oneregular';
    }

    h3{
         color: $color-4;
         position: absolute;
         top: -25rem;
         font-weight: 1000;
         left: 14%;
         font-size: 23.3px;
         font-family: 'coneria_script_demoregular';
       
    }
        }
        
        #inner img{
          width: 100%;
        height:51rem;
        position: relative;
        top: 0rem;
        left: 0rem;
        }
        
        #Carousel{
          width: 100%;
        height:51rem;
        position: relative;
        left: 0rem;
        top: 2.5rem;
        }
    
    #lemurs{
    font-size: 21px;
    position: absolute;
    left: 0;
    top: -10rem;
    }
       
    .baobab{
    font-size: 21px;
    position: absolute;
    left: 0;
    top: -10rem;
    
    }
    
    
    #cameleon{
    font-size: 21px;
    position: absolute;
    left: 2.5rem; 
    top: -10rem;
    }
    
    #tsingy{
    font-size: 21px;
    position: absolute;
    left: 1rem; 
    top: -10rem;
    }


    
   .about {
        position: absolute;
        top: 58.9rem;
        width: 100%;
        height: 97rem;

            h1{
                font-size: 29.5px;
                position: absolute;
                left: 30.5vw;
                width :4cm;
                top: 6rem;             
              }

              .title_about{
                position: absolute;
                color:rgb(209, 118, 6) ;
                top: 2.9rem;
                left: 33%;
               font-size: 20.3px;
               font-family: 'coneria_script_demoregular';
              
            }
            img{
                @include div_img(85vw, 8cm, 2.5rem, 66rem);
                margin-top: 5rem;
              }
            }
          
    .about_container{
        width: 100%;
        position: absolute;

             span{
                font-size: 15px;
                position: absolute;
                width: 90%;
                top: -6rem;
                left: 5rem;
              }

             
    }
        
        
    .border{
        position: absolute;
        left: 39.2vw;
        top: 7.9rem;
        height: 5.2px;
        width: 1.4cm;
    }
         

    .choice {
      @include div(100%, 190vh, 0, 161rem, #ffffff);
  
      h3{
        color: $color-4;
        font-family: 'coneria_script_demoregular';
        @include h(20.5px, 0, 36%, 1000, 30vw);
      
   }
      }
    
      .choice h1{
       top: 4rem;
       width: 60vw;
      font-family:'yeseva_oneregular';
      @include h1(23px, 600, 8vw);
      color:rgba(0, 0, 0, 0.829);
      width: 85vw;
      }
    
    .images_choice{
          position: absolute;
          display: block;
          top: 16rem;
          left: 10vw;
  
             img{
                 width: 80vw;
                 box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.684);
                 margin-top: 4rem;
                 height: 30rem;
                 border-radius: 6px;
                     
                   &:nth-last-child(2){
                      position:relative;
                      top: 0rem;
                   }

                   &:nth-last-child(1){
                    position:relative;
                    top: 0rem;
                 }
             }
    }
  
    .reason{
           position:relative ;
           top: 79rem;
           left: 45vw;
         width: 50vw;
         display: block;
                h1{
                      font-family: Georgia, 'Times New Roman', Times, serif;
                     width: 60vw;
                     margin-top: 5rem;
                     margin-left: -35vw;
                     color:rgba(0, 0, 0, 0.647);
                     @include h1(24px, bolder, 23);
                    }
            .item{
                position: absolute;
                top: 1.2rem;
  
                  div{
                      background-color: $color-4;
                      margin-top: 19.9rem;
                      width: 20px;
                      border-radius: 50%;
                      height: 20px;
                      margin-left: -35vw;
                      
  
                         h1{
                            font-size: 21px;
                            position: relative;
                            left: 47vw;
                            top: 0rem;
                            
                            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                         }
  
                         p{
                          width: 65vw;
                          margin-left: -4.2vw;
                         
                             @include p(16px,-18.2vw , 15rem );
                         }
  
                         .p_item_1{
                             position: absolute;
                             top: 25.9rem;
                         }
  
                         .p_item_2{
                          position: absolute;
                          top: 48.4rem;
                      }
                  
                  }
  
                  // .item_1{
                  //    background-image: url(./../p);
                  // }
                }
    }
     
    
      
         
      
    
    

       
  .sites{
    width:100%;
    height:190rem;
    position: absolute;
    top: 307rem;
    background-color: #ffffff;
  
      h3{
        color: $color-4;
        width: 50vw;
        font-weight: bolder;
        font-family: 'coneria_script_demoregular';
        @include h1(23.3px, 0, 30vw);
      }
  
       h1 center{ 
        top: 8rem;
        color: rgb(48, 46, 46);
        font-family:'yeseva_oneregular';
        @include h1(25.5px, 0,5vw );
        width: 90vw;
       }
  
       #sites_item1{
        
        display: block;
        position: absolute;
        top: 17rem;
        left: 12vw;
       text-align: center;
               
          div{
            height:35rem;
            width: 78vw;
            background-color: rgb(255, 255, 255);
            margin-top:5.5rem;
            border-radius: 9px;
          box-shadow: 3px 3px 15px rgba(114, 111, 111, 0.878);
       }
  
       img{
        height:17.9rem;
        width: 78vw;
        border-radius: 9px;
       }
  
      
         .contain1{
          background-size: cover;
          
  
            h1{
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              text-align: center;
               color: #000;
              @include h(17px, 22.6rem, -4vw, 600, 85vw);
            }
  
           p{
           @include p_left(7vw, 26.9rem, 18px);
           width: 62vw;
           color: #000;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
           }
  
           button{
            @include button($color-3, 4px, 27vw, 35rem, 19px);
         border-radius: 6px;
         border: 0 solid;
     
           }
  
                  &:hover{
                     box-shadow: 5px 8px 35px black;
                  }
         }
  
         .contain2{
            background-size: 100%;
   
           
            h1{
              color: #000;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              text-align: center;
              @include h(19px, 63rem, 4.5vw, 600, 65vw);
         }
  
         p{
          color: #000;
          @include p_left(7vw, 67.8rem, 18px);
          width: 62vw;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
  
       button{
        @include button($color-3, 4px, 25vw, 76rem, 19px);
     border-radius: 6px;
     border: 0 solid;
 
       }
       &:hover{
        box-shadow: 5px 8px 35px black;
     }
  
  
  
           }
  
      .c3{
        height: 17.9rem;
         width: 78vw;
        border-radius: 9px;  
      }
  
         .contain3{
          background-size: cover;
        
          h1{
            color: #000;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
           text-align: center;
           @include h(19px, 104rem, 4.5vw, 600, 65vw);
         }
  
        p{
          color: #000;
          @include p_left(7vw, 108.8rem, 18px);
          width: 62vw;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         }
  
         button{
          @include button($color-3, 4px, 25vw, 116.9rem, 19px);
       border-radius: 6px;
       border: 0 solid;
   
         }
         &:hover{
          box-shadow: 5px 8px 35px black;
       }
  
            }
         }
  
         #sites_item2{
          display: flex;
          position: absolute;
          top: 144rem;
          left: -14.3vw;
         

          div{
            height:35rem;
            width: 78vw;
            background-color: rgb(255, 255, 255);
            margin-left:4rem;
            border-radius: 9px;
          box-shadow: 3px 3px 15px rgba(114, 111, 111, 0.878);
   
          }
   
          .contain_4{
           background-size: cover;
           margin-left: 25.5vw;
  
           img{
            height:19.5rem;
            width: 78vw;
              border-radius: 9px;
           }
   
           h1{
            color: #000;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            @include h(19px, 19rem, 31vw, 600, 65vw);
            }

            p{
              color: #000;
               @include p_left(31vw, 23.2rem, 18px);
               width: 63vw;
               font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
               }
  
              button{
                @include button($color-3, 4px, 53vw, 30.1rem, 19px);
               border-radius: 6px;
               border: 0 solid;
               }
  
               &:hover{
                box-shadow: 5px 8px 35px black;
             }
            
                  
        
      }
         }
  
       }

       .guestBOOK{
        position: absolute;
        top: 490rem;
        width: 100%;
        height: 46rem;
   
         h3{
       color: $color-4;
       width: 30vw;
       font-weight: bolder;
       font-family: 'coneria_script_demoregular';
       @include h1(23.6px, 0, 37vw);
     }
   
      h1{ 
       top: 5rem;
       color: rgb(48, 46, 46);
       font-family:'yeseva_oneregular';
       @include h1(27.5px, -2rem,8vw );
       width: 86vw;
      }
   
      .container_avis{
              position: absolute;
              top: 19rem;
              left: 4vw;
              width: 93%;
              height: 35rem;
              border-radius: 6px;
              box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.754);
   
              #inner{
               width: 100%;
               position: absolute;
               top: 0rem;
               height: 35rem;
   
               h1{
                   font-size: 17px;
                   color: rgb(44, 143, 4);
                    font-size: 34px;
                    margin-left: -5vw;
                    margin-top: -6rem;
                    font-family: 'coneria_script_demoregular';
                    font-weight: 800;
                    
                }
   
                h3{
                      font-size: 16px;
                      width: 80vw;
                      margin-left: -19vw;
                      margin-top: 3.4rem;
                      font-weight: -1000;
                      color: #302f2fd9;
                       font-family:Verdana, Geneva, Tahoma, sans-serif;
                }
   
            
           }
           
           #contain{
                 width: 30rem;
                 height: 35rem;
                 position: absolute;
                 top: 45rem;
                      
                
               
           }
           
           .back{
               width: 101%;
               height: 35rem;
               background-color: rgb(229, 225, 225);
               border-radius: 6px;
               box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.754);
           }
   
         
      }
      #prev{
         position: relative;
         top: 17rem;
         left: 2vw;
      }
   
       #next{
           position: relative;
           top: 17rem;
           right: -67vw;
           
       }
      
       .parallax{
               width: 100%;
               height: 65rem;
               background-image: url(./../pictures/parallax.jpg);
       }
      }
    
      
      footer{
        position: relative;
        top: 77rem;
        background-color: rgba(0, 0, 0, 0.705);
        width :100%;
        height: 34.4rem;
      }
      
      .footer_contact{
        
         position: absolute;
         top: 7rem;
         left: 40%;
    
         h1{
            font-size: 30px;
            color: #ffffff;
            position: absolute;
            top: -3rem;
            left: -13.5vw;
            width: 55vw;
          }
      }
      
      
      .mail{
        font-size: 20px;
        position: absolute;
        top: 5rem;
        left :-31vw;
        color: #ffffff;
        width: 90vw;
      }
      
      .phone{
        font-size: 20px;
        position: absolute;
        top: 8rem;
        width: 90vw;
        left :-31vw;
        color: #ffffff;
      }
      
      .footer_contact p:nth-last-child(3){
        font-size: 19px;
        position: absolute;
        top: 11.1rem;
        left :-31vw;
        width: 91vw;
        color: #ffffff;
      }
      
      
      div.icones img:nth-last-child(1){
       position: absolute;
       top:20rem;
       left: 0rem;
      }
      
      .img_fb{
        position: absolute;
        top:0rem;
        left: 7rem;
       }
      
       div.icones img:nth-last-child(3){
        position: absolute;
        top:20rem;
        left: 14rem;
        
       }
       
       .icones{
        position: relative;
        top: 0rem;
        left: -16vw;
       }
      
       .border_{
        position: absolute;
        top: 17rem;
        left: -6.4vw;
        width: 2.6cm;
        height: 4px;
        background-color: #ffffff;
       }
      
       .footCopright center{
        position: absolute;
        top: 34.4rem;
        width: 100%;
        height: 2.3cm;
        background-color: rgba(40, 37, 37, 0.921);
        font-size: 20px;
        padding-top: 1.5rem;
        color: rgb(212, 205, 205);
       }
       .up img{
        width: 45px;
        height: 45px;
        position: fixed;
        top: 60rem;
        right: 7vw;
        z-index: 20;

          :hover{
            width: 35px;
            height: 35px;
          }
      }

@media screen and (max-width: 530px) and (min-width: 320px) {
 

    .about img{
    top: 59rem;
  }

  
}





@media screen and (max-width: 412px){
  .i1 p{
    position: absolute;
top: 7rem;
  }

 


  .i2 p{
    position: absolute;
    top: 7rem;
  }

  .i3 p{
    position: absolute;
    top: 7rem;
  }
}
    
@media screen and (min-width: 475px) and (max-width: 540px) {
  .about h1{
    position: absolute;
    left: 17.1rem;
    text-align: center;           
  }   

  .border{
    position: absolute;
    left:45vw;
    top: 7.9rem;
}

.about img{
 position: absolute;
 top: 54rem;
}

}
}