@import "./../settings.scss";
@media screen and (min-width: 1024px) {
    

header{
    background-color:white;
    height:2.2cm;
    width:100%;
    position: fixed;
    z-index: 4;
   }

   .header{
    background-color:white;
    height:2.2cm;
    width:100%;
    position: fixed;
    z-index: 4;
   }

    .logo{
        width: 199px;
        height: 68px;
        left: 2rem;
        position: fixed;
        z-index: 4;
        top: 1rem;
    }

  .logoBurger{
    position: absolute;
    left: -8rem;

} 

  header ul {
  position: relative;
  top: -2.5rem;
  right: 4rem;
  display: flex;
  list-style-type: none;
  height:1cm;
  padding-top:5rem;
  padding-bottom: 14rem;
  overflow: hidden;
  float: right;
    }
    
    li a{
     margin : 6px;
     font-size: 19px;
     padding:17px;
     color:rgb(64, 56, 56);

    
        &:hover:not(.active) {
            background-color: #d6d61e;
            border-radius: 8px;
            text-decoration: none;
            color:rgb(64, 56, 56);
            }
    }

    
    .versionAng{
    margin-left: 11rem;
    font-size: 19px;
    color: rgb(64, 56, 56);
    }


  .imgAng{
  position: relative;
  left :0rem;
  top:0rem;
  width:30px;
  border-radius: 40%;
  height: 30px;

  .fenetreFrancais{
    position: relative;
    float: right;
    z-index: 4;
    transform: translateY(-4.5cm);
    @include div(5cm, 2cm, 94rem, 8.3rem, #04AA6D);
    }

   

        p{
            cursor: pointer;
            @include p(20px, 7rem, 2rem);
            }

}

    .show{
      transform: translateY(0);
      transition: 0.14s;
    }

    
    #ang{
      cursor: pointer;
    }

    .container_responsive{
      display: none;
    }

    .active {
      color: white;
      background-color: #04AA6D;
      border: opx solid;
      border-width: 20px;
      border-radius: 8px;
      text-decoration: none;
      
      } 


}