.couvertureEst img{
    position :absolute;
    top: 19rem;
    left: 2vw;
    width: 60vw;
    height: 52rem;
    border-radius: 6px;
    }
    
    .couvertureEst_responsive img{
     display: none;
     position :absolute;
    top: 0rem;
    width: 100%;
    height: 100vh;
    }
    .up{
         display: none;
    }
    